$w1 : #F9F9F9;
$w2 : #EEE;
$w3 : #CCC;
$g1 : #999;
$g2 : #666;
$b1 : #111;
$b2 : #222;

html {
    font-size: 87.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

p {
    margin: .5rem 0;
    line-height: 1.4rem;
    max-width: 50rem;
}

a {
    text-decoration: none;
    color: $b1;

    &:hover {
        text-decoration: underline;
        color: $b1;
    }
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
}

h2 {
    padding: 0;
    margin: 0 0.5rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

header {
    background-color: $w1;
    border-bottom: 1px solid $w2;
    padding: 0 1.5rem;
    display: flex;
    height: 3.5rem;
    align-items: center;
    font-weight: 500;
    margin-bottom: 0.15rem;
}

header span {
    border-bottom: 3px solid $w3;
}

nav {
    margin-left: 1rem;

    a,
    span {
        margin-right: 1rem;
    }
}

.list-view {
    li {
        padding: .5rem 1.5rem;
        display: flex;
        border-bottom: 1px solid $w2;
    }

    .domain {
        margin-left: .5rem;
    }
}

.domain {
    color: $g2;
    font-size: .75rem;
}

li footer {
    margin-top: .25rem;
    font-size: .875rem;
    color: $g1;

    a {
        color: $g1;
        text-decoration: underline;
    }
}

aside {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    min-width: 1rem;
    font-weight: 500;
    color: $g1;
}

article {
    padding: 1rem 1.5rem;

    & ul:nth-child(2n) {
        padding: 0;
    }

    footer {
        margin-top: 0.5rem;
    }

    ul {
        margin-top: 1rem;
        padding-left: 1.5rem;
        border-left: 1px solid $w3;
    }

    section {
        border-bottom: 1px solid $w1;
        padding-bottom: 1rem;
    }
}


.comments-view {
    margin-left: -1.5rem;
}

.comment-meta {
    margin-top: .25rem;
    font-size: .875rem;
    color: $g2;

    a {
        color: $g2;
    }
}

.user-view {
    padding: 1rem 1.5rem;
}
